<div class="outer-box-signup">
  
    <div class="sub-box1">
        <h2>
            <span style="color: blue; font-weight: bold">F</span>
            <span style="color: red; font-weight: bold">U</span>
            <span style="color: yellow; font-weight: bold">N</span>
            <span style="color: blue; font-weight: bold">D</span>
            <span style="color: GREEN; font-weight: bold">O</span>
            <span style="color: RED; font-weight: bold">O</span>
          </h2>
          <h1>Create your Fundoo Account</h1>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="textfield-sign">
            <mat-form-field  appearance="outline" >
              <mat-label>First name</mat-label>
              <input matInput placeholder="" formControlName="firstName" />
              <mat-error>Enter your FirstName</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Last name</mat-label>
              <input matInput placeholder="" formControlName="lastName" />
              <mat-error>Enter your LastName</mat-error>
            </mat-form-field>
          </div>
          <div class="user-field">
            <mat-form-field  appearance="outline" >
                <mat-label>User name</mat-label>
                <input matInput placeholder="" formControlName="email" />
                <mat-error>Enter your Email properly</mat-error>
              </mat-form-field>
              <label id="texting">You can use letters,numbers&periods</label>
          </div>
          <label id="hint">Use my current email address instead</label>
          <div class="passfield-sign">
            <mat-form-field  appearance="outline" >
              <mat-label>Password</mat-label>
              <input matInput type="password" [type]="show ? 'text' : 'password'" placeholder="" formControlName="password" />
              <mat-error>Enter your Password</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" >
              <mat-label>Confirm</mat-label>
              <input matInput type="password" placeholder="" formControlName="confirmPassword"/>
              <mat-error>Confirm the Password</mat-error>
            </mat-form-field>
            
          </div>
        
          <label id="texting1">Use 8 or more characters with a mix of letters,numbers&<br>symbols</label>
          <div class='checkbox-main'>
            <input  type="checkbox" (click)="password()" >{{show ? 'Hide' : 'Show'}} 
            <!-- <p id='show-pwd' >Show password</p> -->
        </div>
        <div class="bottom">
            <label id="signin-instead" routerLink="/signin">Sign in instead</label>
            <button id="continue">Next</button>
        </div>
      </form>
        </div>
      
    <div class="sub-box2">
        <img id="image" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg" alt="image"/>
        <p>One Account. All of Google working <br> </p>
           <p> for you</p>
    </div>
  
  </div>
  