// @media screen and (min-width: 320px) and (max-width: 600px) {
//     .main-box {
//         border: none;
//         width: 100%;
//     }

// }
// @media screen and (min-width: 601px) and (max-width: 860px) {

// }
// @media screen and (min-width: 861px) and (max-width: 1024px) {

// }




.outer-box{
    width:33vw;
    height:80vh;
    display:flex;
    flex-direction: column;
    border:1px solid grey;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.logo{
    justify-items: auto;
}
.textfield{
    width:80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}
#hint{
    display: flex;
    align-items: flex-start;
    text-align: left;
    color:blue;
    font-size: 15px;
    padding-bottom: 20px;

}
#sentence{
   
    font-size: 18px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-items: auto;
    justify-content: space-between;
    margin-right:50px;
    margin-left: 50px;
}
#hint1{
    color:blue;
    font-size: 16px;
}
#next{
    color:white;
    background-color: rgb(45, 45, 231);
    font-size: 20px;
    border-color: white;
    height: 50px;
    width:100px;
    border-radius: 10px;
}