.images {
  display: flex;
}

.images img {
  /* flex: 1 0 25%; */
  /* width: 100%; */
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  // padding: 0px 20px;
  // margin-left:-10px;
  margin-left: 18px;
}

.colour {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 10px 10px 5px 5px;
  border:1px solid red;
  text-overflow: clip;
  white-space: nowrap;
  display: inline-block;
}


.colors {
 
  background-color: transparent;
  height: 30px;
  width:30px;
  border-radius: 20px;
  margin:2px;
  border: 0px solid;
  display: flex;
  flex-direction: row;
  border:1px solid yellow;
  
}
// .colorBox {
//   // display: flex;
//   // flex-wrap: wrap;
//   // flex-direction: row;
//   // height: 30px;
//   // width: 30px;
//   // border: 2px solid red;
//   display: flex;
//   flex-direction: row;
//   height:40px;
//   width:40px;

//   // display: block;
//   border-radius: 10px;
//   border: 1px solid green;
// }
.trash-icons {
  display: flex;
  flex-direction: row;
}
