<div class="icons-bar">
    <div class="images">
        <div class="add" *ngIf="!isDeleted">
    <img src="../../../assets/Add alert.svg"/>
</div>

    <div class="add" *ngIf="!isDeleted">
    <img src="../../../assets/Person add.svg"/>
</div>
<div class="add" *ngIf="!isDeleted" [matMenuTriggerFor]="color">
    <img src="../../../assets/Palette.svg"/>
    <mat-menu class="matmenu-color" #color="matMenu"  >
        <div  class="colour" >
            <div *ngFor="let colour of colorarray" class="colorBox">
                <button class="colors" mat-mini-fab  (click)="colorupdate(colour?.Colorcode)"  (click)="openSnackBar('Note color changed successfully','Dismiss')" mat-icon-button mat-raised-button [style.background]="colour?.Colorcode"></button>
            </div>
        </div>
    </mat-menu>
</div>
<div class="add" *ngIf="!isDeleted">
    <img src="../../../assets/Image.svg"/>
</div>
    <div class="add" *ngIf="!isArchieve && !isDeleted" >
    <img (click)="archive()" (click)="openSnackBar('Item archived successfully','Dismiss')" src="../../../assets/Archive.svg"/>
</div>
<div class="add" *ngIf="isArchieve && !isDeleted" >
    <img  src="../../../assets/Unarchive.svg" (click)="unArchive()"  (click)="openSnackBar('Item unarchived successfully','Dismiss')" />
</div>

<div  class="add" *ngIf="!isDeleted" [matMenuTriggerFor]="menu">
    <img src="../../../assets/More.svg"/>
    <mat-menu #menu="matMenu" yPosition="below">
        <button mat-menu-item (click)="deleteNote()" (click)="openSnackBar('Item Deleted successfully','Dismiss')" >Delete note</button>
        <button mat-menu-item >Add Label</button>
        <button mat-menu-item >Add drawing</button>
        <button mat-menu-item >Make a copy</button>
        <button mat-menu-item >Show check boxes</button>
        <button mat-menu-item >Copy to google Docs</button>
    </mat-menu>
</div>

<div class="trash-icons" *ngIf="isDeleted" >
    <div  matTooltip="Delete forever">
        <img class="icons" (click)="deleteforevernote()" (click)="openSnackBar('Item Deleted forever','Dismiss')" src="../../../assets/DeleteForever.svg" >
    </div>

    <div >
        <img class="icons"  (click)=" restorenote()" (click)="openSnackBar('Item restored successfully','Dismiss')" src="../../../assets/RestoreFromTrash.svg" >
    </div>

</div>
</div>
</div>