.images {
  display: flex;
  // border: 1px solid red;
  width:340px;
  gap: 0.8rem;
}

.images img {
  // border: 1px solid green;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  // gap:20rem;
  margin-left: 18px;
}

.colour {
  display: flex;
  flex-wrap: wrap;
  width: 180px;
  height:200px;
  // padding: 10px 10px 5px 5px;
  border-radius: 10px;
  // border:1px solid grey;
  text-overflow: clip;
  // white-space: nowrap;
  // display: inline-block;
}


.colors {
 
  background-color: transparent;
  height: 40px;
  width:40px;
  border-radius: 20px;
  margin:2px;
  border: 0px solid;
  display: flex;
  flex-direction: row;
  border:1px solid yellow;
  
}

.trash-icons {
  display: flex;
  flex-direction: row;
}
