.MainDiv {
    width: 40vw;
    height: 20vh;
    border: 1px solid grey;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.subDiv {
    width: 95%;
    height: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subDiv1 {
    width: 95%;
    height: 30%;
}
#text-two {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
}
#text-one {
    width: 60%;
    outline: none;
    border:none;
    font-size: 18px;
}
#btn {
    border: none; 
    font-size: 20px;
    background-color: white;
    margin-right: 20px;

}
#push-icon{
    height:30px;
    width:30px;
}

.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
#fields{
    margin:auto;
   
    text-align: start;
    
}
