<div class="outer" >
  <div class="MainDiv" *ngFor="let notes of childMessage | filterpipe:message">
    
    <div class="colordiv" [style.background]="notes.color">
    <div class="subDiv">
      <p class="titleline" (click)="openDialog(notes)">{{ notes.title }}</p>
      <img id="push-icon" src="../../../assets/Pushpin.svg" />
    </div>
    <div class="subDiv1">
      <p class="descline" (click)="openDialog(notes)">
        {{ notes.description }}
      </p>
    </div>
    <div class="footer-icons">
      <app-icons [notecard]="notes" (archiverefresh)="notearchive($event)" (trashrefresh)=" iconautorefresh($event)" (refreshcolor)=" colorRefresh($event)" ></app-icons>
    </div>
  </div>
  </div>
</div>


<!-- (refreshunarchive)="unarchiverefresh($event)" -->