.MainDiv {
    width: 18vw;
    min-height: 50px;
    max-height: 200px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin:20px;
    border-radius: 10px;
}
.subDiv {
    width: 95%;
    height: 30%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subDiv1 {
    width: 95%;
    height: 30%;
}
#btn {
    border: none; 
    font-size: 20px;
    background-color: white;
    margin-right: 20px;

}
#push-icon{
    height:30px;
    width:30px;
}

.footer{
    display: flex;
    // border:1px solid red;
    justify-content: space-between;
    margin-top: 26px;
    width:100%;
    padding-right:20px;
    align-items: flex-start;
}
.titleline ,.descline{
    margin-left:20px;
}
.outer{
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
