.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  #logo{
    width:70px;
  }
  .subBox3 {
   width:40px;
   height: 40px;
   margin-bottom: 15px;
   align-items: center;
   
} 
.subBox4 {
  display: flex;
}
  #text-search{
    margin-left: 100px;
    width:1000px;
    height: 55px;
    border-radius: 10px;
  }
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  .example-toolbar{
    justify-content: space-between;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  #icons{
    height: fit-content;
    width:40px;
    margin-top: 5px;
    justify-content: space-between;
    gap:5rem;
    margin-left:10px;

  }
  #icons1{
    height: fit-content;
    width:40px;
    justify-content: space-between;
    margin-top: -5px;
    margin-left:10px;

  }
  #side-icons{
    height:25px;
    width:25px;
    border:1px solid red;
    margin-bottom: -10px;
    margin-right: 10px;
  }
  .subBox2 {
    width: 50%;
    height: 80%;
   border: 1px solid grey;
   border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-left: 200px;
    
}
#textarea {
  height: 85%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
  background: transparent;
  
}
#title{
  font-size: 20px;
  
}

.left{
  display: flex;
  align-items: center;
}
  