        <div class='MainDiv-createnote'>
            <form [formGroup]="NoteForm" (ngSubmit)="onSubmit()">
            <div class='subDiv-createnote'>

            <input  id='text-one-createnote' type="text" placeholder='Title'  formControlName="Title" />
           <img id="push-icon" src="../../../assets/Pushpin.svg" />
            </div>
            <div class='subDiv1-createnote'>
            <input  id='text-two-createnote' type="text" placeholder='Take a note...'formControlName="Description" />
            </div>
            <div class="footer-createnote">
                <div class="icons-icons">
            <app-icons></app-icons>
        </div>
                <button  id='btn-createnote'>Close</button>
            </div>
        </form>
            </div>
       
     
  


