<div class="outer-box">
  <div class="logo">
    <h2>
      <span style="color: blue; font-weight: bold">F</span>
      <span style="color: red; font-weight: bold">U</span>
      <span style="color: yellow; font-weight: bold">N</span>
      <span style="color: blue; font-weight: bold">D</span>
      <span style="color: GREEN; font-weight: bold">O</span>
      <span style="color: RED; font-weight: bold">O</span>
    </h2>
    <h1>Reset your Password</h1>
    <h2>Enter your Password</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
    <mat-form-field class="textfield" appearance="outline" >
      <mat-label>Enter Password</mat-label>
      <input matInput placeholder="" formControlName="password" />
      <mat-error>Enter your Password</mat-error>
    </mat-form-field>
    <mat-form-field class="textfield" appearance="outline" >
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="" formControlName="confirmPassword"/>
      <mat-error>Confirm the Password</mat-error>
    </mat-form-field>
  </div>
    <button id="next" variant="outlined">Next</button>
  
</form>
</div>
  

</div>
